
    <main>
        {{#if error}}
        <div class="error-containers">
            <p>{{error}}</p>
        </div>
        {{/if}}

        <form  method="POST" class="planet-form">
            <label for="name">Name of Planet:</label>
            <input type="text" id="name" name="name" value="{{data.name}}">

            <label for="age">Age (in billion years):</label>
            <input type="number" id="age" name="age" value="{{data.age}}">

            <label for="solarSystem">Solar System:</label>
            <input type="text" id="solarSystem" name="solarSystem" value="{{data.solarSystem}}">

            <label for="type">Type:</label>
            <select id="type" name="type">
                <option value="---" selected>---</option>
                {{#if typeSelection}}
                    {{#each typeSelection}}
                <option value={{value}} {{selected}}>{{label}}</option>
                    {{/each}}
                {{else}}
                     <option value="Inner">Inner</option>
                     <option value="Outer">Outer</option>
                     <option value="Dwarf">Dwarf</option>
                {{/if}}
                </select>
    

            <label for="moons">Moons (count):</label>
            <input type="number" id="moons" name="moons" value="{{data.moons}}">

            <label for="size">Size (in km):</label>
            <input type="number" id="size" name="size" value="{{data.size}}">

            <label for="rings">Rings:</label>
            <select id="rings" name="rings">
                <option value="---" selected>---</option>
                {{#if rings}}
                    {{#each rings}}
                <option value={{value}} {{selected}}>{{label}}</option>
                    {{/each}}
                {{else}}
                     <option value="Yes">Yes</option>
                     <option value="No">No</option>
                
                {{/if}}
            </select>

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4">{{data.description}}</textarea>

            <label for="image">Image URL:</label>
            <input type="url" id="image" name="image" value="{{data.image}}">

            <button type="submit">Add Planet</button>
        </form>
    </main>